[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
ipython = "*"
django-extensions = "*"
pudb = "*"
requests = "*"
djangorestframework = "*"
factory_boy = "*"
django-cors-headers = "*"
"django-i18nfield" = "*"
PyYAML = "*"
Werkzeug = "*"

[requires]
python_version = "3.6"

[dev-packages]
isort = "*"
