{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>Frumpy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'favicon.png' %}">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% if webpack %}
      <link rel="stylesheet" href="{% static webpack.css %}">
    {% endif %}
  </head>
  <body>
    {% include 'includes/header.html' %}

    <main id="main">
      <div id="app">
        {% block content %}{% endblock %}
      </div>
    </main>

    {% include 'includes/footer.html' %}

    {{ json_context|json_script:'json_context' }}
    {% if extra_json_context %}
      {{ extra_json_context|json_script:'extra_json_context' }}
    {% endif %}

    {% if webpack %}
      {% if debug %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      {% endif %}

      <script src="{% static webpack.js %}"></script>
    {% endif %}
  </body>
</html>
